
form{
    background-color: #838080;
    width: 50%;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    bottom: -250px;
    left: 50%;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.15);
}

label{
    font-weight: 500;
    color: #0b0b0b;
}
