<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="author" content="Codeconvey" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
	<link rel="stylesheet" href="/css/profile.css">
	<title>Student Management system</title>
</head>
<body>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	<h1>Admin Profile</h1>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- admin Profile -->
<div class="student-profile py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" th:src="@{/images/admin-icon.png}" alt="admin_dp">
            <h3><span th:text="${admin.fName}"></span></h3>
          </div>
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Admin ID:</strong><span th:text="${admin.Id}"></span></p>
            <p class="mb-0"><strong class="pr-1">Email ID:</strong><span th:text="${admin.email}"></span></p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">First Name</th>
                <td width="2%">:</td>
                <td><span th:text="${admin.fName}"></span></td>
              </tr>
              <tr>
                <th width="30%">Last Name</th>
                <td width="2%">:</td>
                <td><span th:text="${admin.lName}"></span></td>
              </tr>
              <tr>
                <th width="30%">Gender</th>
                <td width="2%">:</td>
                <td>Female</td>
                <!--  <td> <span th:text="${admin.gender}"></td> -->
              </tr>
              <tr>
                <th width="30%">Date of birth</th>
                <td width="2%">:</td>
                <td><span th:text="${admin.dob}"></span></td>
              </tr>
           
            </table>
          </div>
        </div>
      </div>
    </div>
  	</div>
	</div>
</div>
</div>
</div>
</section>		
</body>
</html>
