<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Class</title>
<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div>
    <h1> Subject List</h1>
    <a th:href="@{/admin/add_subject}">Add New Subject</a>
    <a th:href="@{/admin/home}">Home</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Subject ID</th>
                <th>Subject Name</th>
                <th>Subject Code</th>
              <th>Class Id</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="subject : ${listSubject}">
                <td th:text="${subject.subject_id}">Subject ID</td>
                <td th:text="${subject.subject_name}">Subject Name</td>
                <td th:text="${subject.subject_code}">Subject Code</td>
                <td th:text="${subject.class_id}">Class Id</td>
                <td>
                   <a th:href="@{'/admin/subject_edit/' + ${subject.subject_id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/admin/subject_delete/' + ${subject.subject_id}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   

</body>
</html>